body.page-app {
}

body.page-app::-webkit-scrollbar {
  width: 6px;
}

body.page-app::-webkit-scrollbar-track {
  background: transparent;
}

body.page-app::-webkit-scrollbar-thumb {
  background: var(--border-light);
  border-radius: 3px;
}

